<div>
  <h2><%= @game.name %></h2>
  <h5><%= @game.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @game.description %></div>
</div>
<br>
<br>
<%= link_to "Create Revision", new_game_revision_path(@game) %>

