 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: linear-gradient(to bottom, #28343b 0%,#86aecc 100%);
  font-family: helvetica;
}

.container {
  margin: 0 auto;
  max-width: 60% !important;
  padding: 20px 20px 20px 20px;
  background-color: white;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.main-content {
  margin: 0 auto;
  max-width: 80%;
}

.nav-container {
  margin: 0 auto;
  max-width: 60% !important;
  background-color: white;
  font-family: arial;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-container {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 60% !important;
  background-color: white;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.foot-note {
  bottom-margin: 0;
  font-size: 10px;
  color: white;
  background: linear-gradient(to bottom, rgba(89,106,114,1) 0%,rgba(90,100,115,1) 100%);
}

.title-container {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: 0 auto;
  max-width: 60% !important;
  background: linear-gradient(to bottom, rgba(89,106,114,1) 0%,rgba(0,0,0,0) 100%);
  font-family: cursive;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.title-note {
  font-size: 11px;
  color: white;
  font-family: monospace;
  font-style: italic;
}

.nav {
  max-width: 100%;
  height: 33px;
  text-align: right;
  padding-right: 0px;
  padding-top: 5px;
  background-color: #28343b;
}

.nav li {
  float: right;
}

.nav li a {
  border-left: 1px solid black;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

.title {
  font-size: 25px;
}

.blurb {
  font-size: 14px;
  font-style: italic;
}
